
<div class="pokemon-details">
  <h1 class="pokemon-name" >{{pokemon.name | uppercase}} No. {{pokemon.id}}</h1>
  <table class="pokemon-table-main">
    <tr>
      <td><div class="pokemon-image left-info">
              <img src="{{pokemon.sprites.front_default}}" alt="">
            </div>
            <div *ngFor="let type of pokemon.types" class="pokemon-type">{{type.type.name | uppercase}}</div>
            <div class="left-info">
                <table class="pokemon-table-sub">
                  <tr>
                    <td class="pokemon-details-sub">
                        <b>Height:</b>&nbsp;{{pokemon.height}}
                    </td>
                    <td class="pokemon-details-sub">
                        <b>Weight:</b>&nbsp;{{pokemon.weight}}
                    </td>
                  </tr>
                  <tr>

                    <td class="pokemon-details-sub">
                        <b>Stats:&nbsp;</b>
                        <br>
                        <br>
                        <div *ngFor="let stat of pokemon.stats"><b>{{stat.stat.name | uppercase}}:</b> &nbsp;{{stat.base_stat}}</div>
                    </td>
                  </tr>
                </table>
              </div>
      </td>
      <td class="pokemon-details-sub">
          
        <b>Move List:</b><br><div *ngFor="let moves of pokemon.moves | slice:0:30">{{moves.move.name | uppercase}} &nbsp;</div>
      </td>
    </tr>
  </table>


</div>
