body{
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

h1 {
    text-align: center;
    color: #ff6666;
    font-size: 50px;
}

a {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #ff6666;
}

nav {
    text-align: center;
}
